<!DOCTYPE html>
<html ng-app="todoApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
    <script src="todo.js"></script>
    <link rel="stylesheet" href="todo.css">
</head>
<body>
    <div ng-controller="TodoController">
        <h3>To do list</h3>
        <span> {{ remaining() }} of {{ todos.length }}</span>
        [<a href="" ng-click="archive()">archive that</a>]

        <ul class="unstyled">
            <li ng-repeat="todo in todos">
                <input type="checkbox" ng-model="todo.done">
                <span class="done-{{todo.done}}">{{todo.text}}</span>
            </li>
        </ul>
        <form ng-submit="addTodo()">
            <input type="text" ng-model="todoText" size="30" placeholder="Add next todo here">
            <input class="btn-primary" type="submit" value="add">
        </form>
    </div>
</body>
</html>